%tr{:id => "#{dom_id support_reply}"}
  %td
    .mb-3
      %span.badge.bg-light.text-dark.float-end
        Admin Reply
        %i.bi.bi-envelope
      %strong From:
      - if current_user.admin
        - if !support_reply.creator.nil?
          = link_to support_reply.creator_handle,               |
            user_path(support_reply.creator), class: link_class |
        - else
          [Deleted User Account]
        (#{support_reply.user_email})
      - else
        Site Admins
    .mb-3
      %strong Submitted:
      = resource_created(support_reply)
    .mb-3.text-break
      - if !support_reply.body.nil?
        = support_reply.body
      - else
        = support_reply.rich_text_body
