#status_form.mb-3.mt-3
  .btn-group{"aria-label" => "Support issue", :role => "group"}
    - if !support_issue.addressed
      = button_to "Resolve", support_issue_path(support_issue), params: { :support_issue => { :addressed => true } }, method: :patch, form: { data: { turbo_confirm: 'Are you sure you want to resolve this issue?' }}, class: "btn btn-sm btn-first" +  status_button_class
    - else
      = button_to "Reopen", support_issue_path(support_issue), params: { :support_issue => { :addressed => false } }, method: :patch, form: { data: { turbo_confirm: 'Are you sure you want to reopen this issue?' }}, class: "btn btn-sm btn-first" +  status_button_class
    - if !support_issue.addressed
      = link_to("Reply", support_issue_path(support_issue, :anchor => "reply"), class: "btn btn-sm" +  status_button_class)
    - else
      = link_to("Note", support_issue_path(support_issue, :anchor => "reply"), class: "btn btn-sm" +  status_button_class)
