%h1 Ruby on Rails Rails Base App
%p This application uses Devise for user registration and has an admin interface for managing users. Users can set a password or sign in through their google account after confirming their email. Users may select a username for public display and an avatar.
%p In the site settings, admins can decide if users are allowed to sign up for the application or if they need to be created through the admin interface only. Admins can select a default avatar image, logo, and site name from the site settings.
%p A basic support issue tracker can be enabled to allow users to submit feedback and issues to admins. Admins can reply, add internal notes, and resolve these issues.
%p Dark mode is available for users.
%p In the development environment, admins can login as other confirmed users.
%p
  %strong Source code:
  %a{:class => link_class, :href => "https://gitlab.com/endtoendpaper/devise-admin-oauth"} https://gitlab.com/endtoendpaper/devise-admin-oauth
