%span#apple_touch_icon_display
  - if SiteSetting.apple_touch_icon.attached?
    = image_tag(SiteSetting.apple_touch_icon.variant(:thumb))
    %br/
    %br/
    = link_to 'Remove apple touch icon', delete_apple_touch_icon_site_setting_path(@siteSetting), class: link_class, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
    or set a new one:
  = " - Not set" if !SiteSetting.apple_touch_icon.attached?
  %br/
