%span#default_avatar_display
  - if SiteSetting.default_avatar.attached?
    = image_tag(SiteSetting.default_avatar.variant(:thumb))
    %br/
    %br/
    = link_to 'Remove default avatar', delete_default_avatar_site_setting_path(@siteSetting), class: link_class, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
    or set a new one:
  = " - Not set" if !SiteSetting.default_avatar.attached?
  %br/
