%span#favicon_display
  - if SiteSetting.favicon.attached?
    = image_tag(SiteSetting.favicon.variant(:thumb))
    %br/
    %br/
    = link_to 'Remove favicon', delete_favicon_site_setting_path(@siteSetting), class: link_class, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
    or set a new one:
  = " - Not set" if !SiteSetting.favicon.attached?
  %br/
