%span#logo_display
  - if SiteSetting.logo.attached?
    = image_tag(SiteSetting.logo.variant(:thumb))
    %br/
    %br/
    = link_to 'Remove logo', delete_logo_site_setting_path(@siteSetting), class: link_class, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
    or set a new one:
  = " - Not set" if !SiteSetting.logo.attached?
  %br/
