= turbo_stream.update "default_avatar_display" do
  = render partial: "default_avatar_display"
= turbo_stream.update "default_avatar_image" do
  - if current_user.avatar.attached?
    = image_tag(current_user.avatar.variant(:tiny))
  - else
    %i.bi.bi-person-circle
