- provide(:title, 'Resend Confirmation Instructions')
%h1 Resend Confirmation Instructions
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .mb-3
    = f.label :email, class: "form-label"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control form-control-sm"
  .actions.mb-3
    = f.submit "Resend Confirmation Instructions", class: "btn btn-primary btn-sm"
= render "devise/shared/links"
