%span#avatar_display
  - if resource.avatar.attached?
    = image_tag(resource.avatar.variant(:thumb))
    %br/
    %br/
    = link_to 'Remove avatar', delete_avatar_path, class: link_class, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
    or set a new one:
  = " - Not set" if !resource.avatar.attached?
  %br/
