%p
  Hello #{@user.username},
%p
  - if !@support_reply.rich_text_body.nil?
    = @support_reply.rich_text_body
  - else
    = @support_reply.body
%p
  To view your issue, see site admin replies, and add new comments, go to
  = link_to support_issue_url(@support_issue), support_issue_url(@support_issue)
  \.
