%p
  Hello #{@user.username},
%p
  Your support issue has been successfully submitted for
  = succeed "." do
    %strong= SiteSetting.site_name
%p
  To view your issue, see site admin replies, and add new comments, go to
  = link_to support_issue_url(@support_issue), support_issue_url(@support_issue)
  \.
