Hello #{@user.username},

Your support issue has been successfully submitted for #{SiteSetting.site_name}.

To view your issue, see site admin replies, and add new comments, go to #{support_issue_url(@support_issue)}.
