#admin_note.mb-3.mt-3
  = form_for([@support_issue, @support_note]) do |form|
    = render 'error_messages', object: @support_note, object_name: 'this note'
    - if SiteSetting.rich_text_support_replies?
      #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@support_note.id}", "data-record-type" => "SupportNote"}
        = form.rich_text_area :rich_text_body, class: "form-control"+ input_class
    - else
      .mb-3
        = form.text_area :body, class: "form-control form-control-sm"+ input_class
    %div
      = form.submit "Add Note", class: "btn btn-primary btn-sm"
