%tr{:id => "#{dom_id support_note}"}
  %td
    .mb-3
      %span.badge.bg-light.text-dark.float-end
        Internal Admin Note
        %i.bi.bi-pencil-square
      %strong From:
      - if !support_note.creator.nil?
        = link_to support_note.creator_handle,               |
          user_path(support_note.creator), class: link_class |
      - else
        [Deleted User Account]
      (#{support_note.user_email})
    .mb-3
      %strong Submitted:
      = resource_created(support_note)
    .mb-3.text-break
      - if !support_note.body.nil?
        = support_note.body
      - else
        = support_note.rich_text_body
