= turbo_stream.update "follow_form_user_" + @user.id.to_s do
  = render partial: "users/follow"
= turbo_stream.update "followers_" + @user.id.to_s do
  = @user.followers.count
= turbo_stream.update "following_" + current_user.id.to_s do
  = current_user.following.count
