- if current_user && current_user.admin? && (action_name == 'user_management' || action_name == 'show')
  %hr
  - if @user.admin?
    %strong
      %span{:style => "color: red"} Admin
    %br
  %strong Email:
  = @user.email
  %br
  %strong Darkmode:
  = @user.darkmode
  %br
  %strong Hide Follow Relationships:
  = @user.hide_relationships
  %br
  %strong Timezone:
  = @user.time_zone
  %br
  %br
  %strong Sign in count:
  = @user.sign_in_count
  %br
  %strong Current sign in:
  = pretty_time(@user.current_sign_in_at)
  %br
  %strong Current sign in IP:
  = @user.current_sign_in_ip
  %br
  %strong Last sign in:
  = pretty_time(@user.last_sign_in_at)
  %br
  %strong Last sign in IP:
  = @user.last_sign_in_ip
  %br
  %br
  - if !@user.confirmed?
    %span{:style => "color: red"}
      %strong unconfirmed
    %br
  %strong Confirmation sent at:
  = pretty_time(@user.confirmation_sent_at)
  %br
  %strong Confirmed at:
  = pretty_time(@user.confirmed_at)
  %br
  %strong Unconfirmed email:
  = @user.unconfirmed_email
  %br
  %br
  %strong Failed login attemps:
  = @user.failed_attempts
  %br
  %strong Unlocked at:
  = @user.locked_at
  %br
  - if current_user.id != @user.id
    %br
    = link_to edit_user_path(@user), class: link_class do
      %i.bi.bi-pencil-fill
      Edit user
