%span#avatar_display
  - if @user.avatar.attached?
    = image_tag(@user.avatar.variant(:thumb))
    %br/
    %br/
    = link_to 'Remove avatar', delete_avatar_user_path(@user), class: link_class, data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
    or set a new one:
  = " - Not set" if !@user.avatar.attached?
  %br/
