- if action_name == 'show'
  - if @user.avatar.attached?
    = image_tag(@user.avatar.variant(:medium))
    %br/
  - elsif SiteSetting.default_avatar.attached?
    = image_tag(default_avatar_path(:medium))
    %br/
  %h5= @user.handle
- else
  - if @user.avatar.attached?
    = link_to(image_tag(@user.avatar.variant(:medium)), user_path(@user))
    %br/
  - elsif SiteSetting.default_avatar.attached?
    = link_to(image_tag(default_avatar_path(:medium)), user_path(@user))
    %br/
  %h5= link_to @user.handle, user_path(@user), class: link_class
