- if SiteSetting.follow_users?
  - if can_view_follower_stats(@user)
    .follower-stats
      %a{:class => "me-1 #{link_class}", :href => "#{following_user_path(@user)}"}
        %strong.stat{:id => "following_#{@user.id}"}
          = @user.following.count
        following
      %a{:class => link_class, :href => "#{followers_user_path(@user)}"}
        %strong.stat{:id => "followers_#{@user.id}"}
          = @user.followers.count
        followers
  - if current_user
    = render 'users/follow_form'
