- unless current_user.id == @user.id || action_name == 'user_management'
  %div{:id => "follow_form_user_#{@user.id}"}
    - if current_user.following?(@user)
      = render 'users/unfollow'
    - else
      = render 'users/follow'
