= form_with(model: current_user.active_relationships.find_by(followed: @user), |
  html: { method: :delete }) do |f|                                            |
  = f.button nil, class: "btn btn-sm mt-2" + unfollow_button_class do
    %i.bi.bi-person-x-fill
    Unfollow
