- @user = user
%div{:id => "#{dom_id user}"}
  .row
    %div{:class => "#{user_left_col_classes} mb-3"}
      = render 'users/avatar_and_username'
      = render 'users/followers'
      = render 'users/masquerade'
    %div{:class => "#{user_right_col_classes} mb-3"}
  - if current_user and current_user.id == user.id
    = link_to edit_user_registration_path, class: link_class do
      %i.bi.bi-pencil-fill
      Edit your profile
  = render 'users/admin_fields'
