- provide(:title, 'Users')
%h1 Users
.mb-3
  = form_tag(users_path, method: :get, class: 'row') do
    .input-group.mb-2.mt-2
      = text_field_tag(:search, params[:search], class: 'form-control form-control-sm custom-placeholder' + input_class, style: "max-width:250px;", placeholder: "Search by Username")
      = button_tag nil, class: 'btn btn-primary btn-sm' do
        %i.bi.bi-search
        Search
      = link_to 'Clear', users_path, class: 'btn btn-secondary btn-sm'
- if @users
  - @users.each do |user|
    .mb-5
      = render user
  = will_paginate @users, list_classes: %w(pagination pagination-sm justify-content-center)
