- provide(:title, @title)
%h1= @title
- if @users
  .row
    .col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2.mt-1.mb-5
      = render 'users/avatar_and_username'
      = render 'users/followers'
      - if @users.any?
        .mt-3
          - @users.each do |user|
            - if user.avatar.attached?
              = link_to(image_tag(user.avatar.variant(:tiny)), user_path(user), class: "float-start me-1")
            - elsif SiteSetting.default_avatar.attached?
              = link_to(image_tag(default_avatar_path(:tiny)), user_path(user), class: "float-start me-1")
    .col-sm-6.col-md-8.col-lg-9.col-xl-9.col-xxl-10
      - @users.each do |user|
        #test.mb-3
          = render user
      = will_paginate @users, list_classes: %w(pagination pagination-sm justify-content-center)
