- provide(:title, 'Forgot Your Password?')
%h1 Forgot Your Password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .mb-3
    = f.label :email, class: "form-label"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm"
  .actions.mb-3
    = f.submit "Send Me Reset Password Instructions", class: "btn btn-primary btn-sm"
= render "devise/shared/links"
