.mb-5{:id => "#{dom_id help_section}"}
  %h2= help_section.title
  = help_section.content
  - if current_user.admin
    .mt-3
      %small
        = link_to edit_help_section_path(help_section), class: link_class do
          %i.bi.bi-pencil-fill>
          Edit
      .float-end
        %small
          Updated #{resource_updated(help_section)}
