%div{"data-controller" => "table-editor", "data-table-editor-id" => "#{table.attachable_sgid}"}
  .btn-group{"aria-label" => "Table Data", :role => "group"}
    %button{:class => "btn btn-sm#{outline_button_class}", "data-action" => "table-editor#addRow", :type => "button"}
      %i.bi.bi-plus<>
      Add Row
    - if table.rows > 1
      %button{:class => "btn btn-sm#{outline_button_class}", "data-action" => "table-editor#removeRow", :type => "button"}
        %i.bi.bi-x
        Remove Row
    %button{:class => "btn btn-sm#{outline_button_class}", "data-action" => "table-editor#addColumn", :type => "button"}
      %i.bi.bi-plus<>
      Add Column
    - if table.columns > 1
      %button{:class => "btn btn-sm#{outline_button_class}", "data-action" => "table-editor#removeCol", :type => "button"}
        %i.bi.bi-x<>
        Remove Column
    - if table.header_row
      %button{:class => "btn btn-sm#{outline_button_class}", "data-action" => "table-editor#removeHeader", :type => "button"}
        %i.bi.bi-type-bold<>
        Unbold First Row
    - else
      %button{:class => "btn btn-sm#{outline_button_class}", "data-action" => "table-editor#headerRow", :type => "button"}
        %i.bi.bi-type-bold<>
        Bold First Row
    %button{:class => "btn btn-sm btn-primary", "data-action" => "table-editor#saveTable", :type => "button"}
      %i.bi.bi-save<>
      Save Table
  %table.table.is-bordered
    - (0...table.rows).each do |r|
      %tr
        - (0...table.columns).each do |c|
          %td
            %input{:class => "form-control form-control-sm#{input_class}", "data-action" => "table-editor#updateCell", "data-key" => "#{r}-#{c}", :value => "#{table.data["#{r}-#{c}"]}"}/
