.table-responsive
  %table.table.table-hover.mb-3.mt-3
    - if table.header_row
      %thead
        %tr
          - (0...table.columns).each do |c|
            %th= table.data["0-#{c}"]
      %tbody
    - else
      %tbody
        %tr
          - (0...table.columns).each do |c|
            %td= table.data["0-#{c}"]
    - (1...table.rows).each do |r|
      %tr
        - (0...table.columns).each do |c|
          %td= table.data["#{r}-#{c}"]
