- provide(:title, 'Login')
%h1 Login
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .mb-3
    = f.label :login, class: "form-label"
    %br/
    = f.text_field :login, autofocus: true, autocomplete: "email", class: "form-control form-control-sm"
    .form-text Email or username
  .mb-3
    = f.label :password, class: "form-label"
    %br/
    .input-group.input-group-sm{"data-controller" => "password-visibility"}
      = f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm" + input_class, "data-password-visibility-target": "input"
      %button.input-group-text{"data-action" => "password-visibility#toggle", :type => "button"}
        %span{"data-password-visibility-target" => "icon"}
          %i.bi.bi-eye
        %span.hidden{"data-password-visibility-target" => "icon"}
          %i.bi.bi-eye-slash
  - if devise_mapping.rememberable?
    .mb-3
      = f.check_box :remember_me, class: "form-check-input"
      = f.label :remember_me, "Remember me on this computer", class: "form-check-label"
  .actions.mb-5
    = f.submit "Login", class: "btn btn-primary btn-sm"
- if devise_mapping.registerable? && controller_name != 'registrations' && SiteSetting.allow_users_to_join?
  .mb-3
    Don't have an account yet?
    \#{link_to "Sign up", new_registration_path(resource_name)}
- if devise_mapping.omniauthable?
  .mb-3
    Sign in with
    %br/
    = button_to omniauth_authorize_path(resource_name, 'google_oauth2'), class: "btn btn-outline-dark btn-sm", method: :post, data: { turbo: false } do
      %i.bi.bi-google
      Google
= render "devise/shared/links"
