#user_comment.mb-3.mt-3
  - if @support_issue.addressed != true
    = form_for([@support_issue, @support_comment]) do |form|
      = render 'error_messages', object: @support_comment, object_name: 'this comment'
      - if SiteSetting.rich_text_support_issues?
        #tables-data.mb-3{"data-controller" => "rich-text", "data-record-id" => "#{@support_comment.id}", "data-record-type" => "SupportComment"}
          = form.rich_text_area :rich_text_body, class: "form-control"+ input_class
      - else
        .mb-3
          = form.text_area :body, class: "form-control form-control-sm"+ input_class
      %div
        = form.submit "Add Comment", class: "btn btn-primary btn-sm"
  - else
    %p This issue has been resolved.
    = link_to "Submit New Issue", new_support_issue_path, class: "btn btn-primary btn-sm"
