display_name#{@support_issue.display_name} for #{SiteSetting.site_name} has been resolved.

Summary: #{@support_issue.summary}

To view the issue, see user comments, and reply to the user, go to #{support_issue_url(@support_issue)}.
