%p
  A new support issue was created for
  = succeed "." do
    %strong= SiteSetting.site_name
%p
  To view the issue, see user comments, and reply to the user, go to
  = link_to support_issue_url(@support_issue), support_issue_url(@support_issue)
  \.
%p
  %strong From:
  - if User.find(@support_issue.user_id)
    = link_to @support_issue.creator_handle,      |
      user_url(User.find(@support_issue.user_id)) |
  - else
    [Deleted User Account]
  (#{@support_issue.user_email})
%p
  %strong Summary:
  = @support_issue.summary
%p
  %strong Submitted:
  = @support_issue.created_at.strftime('%b %d, %Y %I:%M%p %Z')
%p
  - if !@support_issue.rich_text_body.nil?
    = @support_issue.rich_text_body
  - else
    = @support_issue.body
