A new admin reply was added to #{@support_issue.display_name} for #{SiteSetting.site_name}.

To view the issue, see user comments, and reply to the user, go to #{support_issue_url(@support_issue)}.

From:
- if User.find(@support_reply.user_id)
  = @support_reply.creator_handle
- else
  [Deleted User Account]
(#{@support_reply.user_email}) Admin

Submitted: #{@support_reply.created_at.strftime('%b %d, %Y %I:%M%p %Z')}
- if !@support_reply.rich_text_body.nil?
  = @support_reply.rich_text_body.to_plain_text
- else
  = @support_reply.body
