%p
  A new admin reply was added to #{@support_issue.display_name} for
  = succeed "." do
    %strong= SiteSetting.site_name
%p
  To view the issue, see user comments, and reply to the user, go to
  = link_to support_issue_url(@support_issue), support_issue_url(@support_issue)
  \.
%p
  %strong From:
  - if User.find(@support_reply.user_id)
    = link_to @support_reply.creator_handle,      |
      user_url(User.find(@support_reply.user_id)) |
  - else
    [Deleted User Account]
  (#{@support_reply.user_email})
  %strong Admin
%p
  %strong Submitted:
  = @support_reply.created_at.strftime('%b %d, %Y %I:%M%p %Z')
%p
  - if !@support_reply.rich_text_body.nil?
    = @support_reply.rich_text_body
  - else
    = @support_reply.body
