%p
  #{@support_issue.display_name} for
  %strong= SiteSetting.site_name
  has been resolved.
%p
  %strong Summary:
  = @support_issue.summary
%p
  To view the issue, see user comments, and reply to the user, go to
  = link_to support_issue_url(@support_issue), support_issue_url(@support_issue)
  \.
