$primary: #006666;
$primary-hover: #005252;
$secondary: #f2c100;
$body-bg: #F4F4F4;
$input-bg: #fff;

$white: #ffffff;
$black: #000000;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $secondary;
$navbar-dark-active-color:          $secondary;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  $white;
$navbar-dark-brand-color:           $white;
$navbar-dark-brand-hover-color:     $secondary;

$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $secondary;

$pagination-hover-color:            $white;
$pagination-hover-bg:               $secondary;
$pagination-hover-border-color:     $secondary;

$btn-border-radius: 0.125rem;
$btn-border-radius-sm: 0.125rem;
$nav-tabs-border-radius: 0.125rem;
$dropdown-border-radius: 0.125rem;
$pagination-border-radius-sm: 0.125rem;
$input-border-radius-sm: 0.125rem;
$form-select-border-radius-sm: 0.125rem;

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: normal;
  src: url('SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: bold;
  src: url('SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: bold;
  src: url('SourceSansPro-BoldItalic.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 200;
  src: url('SourceSansPro-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: normal;
  src: url('SourceSansPro-Italic.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 300;
  src: url('SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 300;
  src: url('SourceSansPro-LightItalic.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 600;
  src: url('SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  font-weight: 600;
  src: url('SourceSansPro-SemiBoldItalic.ttf');
}

$font-family-sans-serif: SourceSansPro,'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
$font-family-monospace: SourceSansPro,'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
$font-size-base: 1rem;
$font-size-sm: .85rem;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.8;
$h3-font-size:                $font-size-base * 1.6;
$h4-font-size:                $font-size-base * 1.4;
$h5-font-size:                $font-size-base * 1.2;
$h6-font-size:                $font-size-base;


@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import "trix/dist/trix";
@import 'actiontext.css';


// variables for light mode; dark mode variables are set in the application.html.erb file
:root {
  --trix-link-color: #006666;
  --trix-link-color-hover: #005252;
  --trix-attachment-color: #666;
  --placeholder-color: #6c757d;
}

* {
  scroll-behavior: smooth;
}

small {
  font-size: $font-size-sm;
}

h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 500;
}

h6, .h6, h5, .h5 {
  font-weight: 600;
}

h6, .h6 {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar {
  	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link.link-light.active {
  background: none;
  border-bottom: none;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.05rem;
}

.navbar-brand img {
  max-height: 50px;
}

.btn.btn-secondary {
	color: $white;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
  }

  &:active {
    color: $white;
  }

  &:focus-visible {
    color: $white;
  }
}

.btn-outline-secondary:hover {
  color: $white;
}

.btn:first-child:active {
  color: $white;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.trix-content .attachment a {
	color: var(--trix-link-color);
	text-decoration: underline;

  &:hover {
    color: var(--trix-link-color-hover);
  }
}

trix-editor .attachment__caption-editor {
  color: #212529;
}

trix-toolbar .trix-button {
	background-color: #FFFFFF;
}

trix-toolbar .trix-button--icon-table {
  padding: 5px;
}

trix-toolbar .trix-button--icon-table::before {
  background-image: url("table.svg");
  top: 3px;
  bottom: 3px;
}

trix-toolbar .trix-button--icon-smiley::before {
  background-image: url("smiley.svg");
  top: 3px;
  bottom: 3px;
}

.trix-content .attachment--preview .attachment__caption {
    color: var(--trix-attachment-color);
}

.trix-content pre {
  background-color: var(--trix-pre-color);
}


.list-group-item {
  color: $primary;

  &:hover {
    color: $primary-hover;
  }
}

.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
  color: $primary-hover;
}

.btn-secondary.scroll-top {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 30px;
  z-index: 99;
  cursor: pointer;

  &:active {
    color: $white;
  }

  &:focus {
    color: $white;
  }
}

footer hr {
  margin: .8rem 0;
  border: 0;
}

.follower-stats {
  overflow: auto;
  margin-top: 0;
  a {
    float: left;
    padding: 0 10px;
    text-decoration: none;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  strong {
    display: block;
  }
}

.page-not-found {
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    font-size: 6.25rem;
  }
  p {
    font-size: 1.563rem;
  }
}

.btn-first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hidden {
  display: none;
}

button:focus-visible {
  outline-color: $primary-hover;
}

.custom-placeholder::placeholder {
  color: var(--placeholder-color);
}
