%p
  Welcome to
  %strong= SiteSetting.site_name
  = @resource.username
  \!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
