%p
  Hello #{@resource.username}!
- if @resource.try(:unconfirmed_email?)
  %p
    We're contacting you to notify you that your email is being changed to #{@resource.unconfirmed_email} for
    = succeed "." do
      %strong= SiteSetting.site_name
- else
  %p
    We're contacting you to notify you that your email has been changed to #{@resource.email} for #{SiteSetting.site_name}.
