.d-flex.justify-content-end
  %span.alert.alert-warning.alert-dismissible{:role => "alert"}
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    This was edited by another user.
    \#{link_to "Refresh", ""} the page to see their changes or save to overwrite them.
