- flash.each do |name, msg|
  - if name == "alert"
    .alert.alert-warning.alert-dismissible{:role => "alert"}
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
      = msg
  - elsif name == "timedout"
  - else
    .alert.alert-primary.alert-dismissible{:role => "alert"}
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
      = msg
