%footer.footer.mt-auto.py-3
  .container
    %hr.border.border-secondary.border-1.opacity-50/
    %small
      %a{:class => link_class, :href => "https://gitlab.com/endtoendpaper/devise-admin-oauth"} Rails Base App
      by
      %a{:class => link_class, :href => "https://endtoendpaper.com/"} Endtoendpaper
      .float-end
        = link_to "Users", users_path, class: link_class
