%nav{:class => "navbar navbar-expand-lg navbar-dark #{navbar_class}  mb-3"}
  .container
    %span#logo_image
      = link_to image_tag(logo_navbar_path), root_path, class: 'navbar-brand' if SiteSetting.logo.attached?
    = link_to SiteSetting.site_name, root_path, class: 'navbar-brand' if SiteSetting.display_site_name?
    %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNavDropdown", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to 'About', about_path, class: 'nav-link' + active_link_class(about_path)
        - if user_signed_in?
          %li.nav-item
            = link_to 'Help', help_path, class: 'nav-link' + active_link_class(help_path)
    #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
      %ul.navbar-nav
        - if !user_signed_in?
          %li.nav-item
            = link_to new_user_session_path, class: 'nav-link' + active_link_class(new_user_session_path) do
              %i.bi.bi-person-circle
              Login
        - else
          - if current_user.admin?
            %li.nav-item.dropdown
              %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                %i.bi.bi-gear-fill
                Admin Tools
              %ul{"aria-labelledby" => "navbarDropdownMenuLink", :class => "dropdown-menu dropdown-menu-end #{dropdown_class}"}
                %li= link_to 'Site Settings', edit_site_setting_path(SiteSetting.id), class: 'dropdown-item'
                - if SiteSetting.allow_users_to_contact_admins?
                  %li= link_to 'Support Issues', support_issues_path, class: 'dropdown-item'
                %li= link_to 'User Management', user_management_path, class: 'dropdown-item'
          %li.nav-item.dropdown
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "", :role => "button"}
              - if current_user.avatar.attached?
                %span#avatar_image= image_tag(current_user.avatar.variant(:tiny))
              - elsif SiteSetting.default_avatar.attached?
                %span#default_avatar_image= image_tag(default_avatar_path(:tiny))
              - else
                %i.bi.bi-person-circle
              My Account
            %ul{"aria-labelledby" => "navbarDropdownMenuLink", :class => "dropdown-menu dropdown-menu-end #{dropdown_class}"}
              %li
                %a.dropdown-item{:href => "#{user_path(current_user)}"}
                  Logged in as
                  %strong= current_user.username
              %li
                %hr.dropdown-divider/
              %li= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item'
              %li
                %hr.dropdown-divider/
              %li
                %div{"data-turbo" => "false"}
                  = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
