!!!
%html.h-100{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    - if SiteSetting.favicon.attached?
      %link{:href => "#{favicon_path(:default)}", :rel => "icon", :sizes => "32x32"}/
      %link{:href => "#{favicon_path(:large)}", :rel => "icon", :sizes => "192x192"}/
    - if SiteSetting.apple_touch_icon.attached?
      %link{:href => "#{apple_icon_path(:default)}", :rel => "apple-touch-icon", :sizes => "180x180"}/
      %link{:href => "#{apple_icon_path(:one_hundred_forty_four)}", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
      %link{:href => "#{apple_icon_path(:one_hundred_fourteen)}", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
      %link{:href => "#{apple_icon_path(:seventy_two)}", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
      %link{:href => "#{apple_icon_path(:fifty_seven)}", :rel => "apple-touch-icon-precomposed", :sizes => "57x57"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    - if user_signed_in? and current_user.darkmode
      :css
        :root {
          --trix-link-color: #ffffff;
          --trix-link-color-hover: #d9d9d9;
          --trix-attachment-color: #ffffff;
          --placeholder-color: #fcfcfc;
        }
  - if user_signed_in? and current_user.darkmode
    %body#top.d-flex.flex-column.h-100.bg-dark.text-white.bg-opacity-80
  - else
    %body#top.d-flex.flex-column.h-100
  = render 'header'
  = render 'masquerade_banner'
  %main.flex-shrink-0
    .container
      = render 'flash_alerts'
      = turbo_frame_tag "remote_modal", target: "_top"
      = yield
      = debug(params) if Rails.env.development?
  = render 'footer'
  = render 'scroll_up'
